certifi>=2021.5.30
charset-normalizer==2.0.6
docopt-ng==0.7.2
easywatch==0.0.5
idna==3.2
Jinja2==3.0.1
Markdown==3.3.4
MarkupSafe==2.0.1
Pygments==2.10.0
requests>=2.26.0
staticjinja>=4.1.0
urllib3
watchdog==2.1.5
wheel
pip