{# The table for downloadable files #}

<table class="table table-md">
    <thead>
    <tr>
        <th colspan="3">Current release</th>
    </tr>
    </thead>

    <tbody>

    {% for file in files %}
        <tr>
            <td>
                <a href="{{ link_base }}/{{ file.name }}">{{ file.name }}</a>
            </td>
            <td>
                {{ file.date }}
            </td>
            <td>
                {{ file.system }}
            </td>
        </tr>
    {% endfor %}

    </tbody>

</table>