<!-- The navigation bar -->

<nav class="nav nav-tabs nav-fill bg-light">

    <a class="navbar-brand mx-3" href="{{ 'index.html' }}"><img class="mx-1" src="{{ 'pictures/favicon.png' }}" alt="" width="25px"></a>

    <a class="nav-link active" href="{{ 'dsr.html' }}">
        DSR
    </a>

    <a class="nav-link active" href="{{ 'finalcif.html' }}">
        FinalCif
    </a>
    <a class="nav-link active" href="{{ 'structurefinder.html' }}">
        StructureFinder
    </a>

    <a class="nav-link active" href="{{ 'fragmentdb.html' }}">
        FragmentDB
    </a>
    <a class="nav-link active" href="{{ 'shelxfile.html' }}">
        ShelxFile
    </a>
    <a class="nav-link active" href="{{ 'cv.html' }}">
        About Me
    </a>
    <a class="nav-link active" href="{{ 'imprint.html' }}">
        Impressum
    </a>
</nav>
