<!-- The navigation bar -->

<nav class="nav nav-tabs nav-fill bg-light">

    <a class="navbar-brand mx-3" href="{{ 'index.html' }}" title="Main Page">
        <img class="mx-1" src="{{ 'pictures/favicon.png' }}" alt="" width="25px">
    </a>

    <a class="nav-link active" href="{{ 'dsr.html' }}" title="DSR Program">
        DSR
    </a>

    <a class="nav-link active" href="{{ 'finalcif.html' }}" title="FinalCif Program">
        FinalCif
    </a>
    <a class="nav-link active" href="{{ 'structurefinder.html' }}" title="StructureFinder Program">
        StructureFinder
    </a>

    <a class="nav-link active" href="{{ 'fragmentdb.html' }}" title="FragmentDB Plugin">
        FragmentDB
    </a>
    <a class="nav-link active" href="{{ 'shelxfile.html' }}" title="ShelxFile Parser">
        ShelxFile
    </a>
    <a class="nav-link active" href="{{ 'cv.html' }}" title="Resume">
        About Me
    </a>
    <a class="nav-link active" href="{{ 'imprint.html' }}" title="Imprint">
        Impressum
    </a>
</nav>
