<!-- The navigation bar -->

<nav id="topNav" class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="{{ 'index.html' }}">Crystallographic tools</a>

    <a class="nav-link active" href="{{ 'finalcif.html' }}">
        FinalCif
    </a>
    <a class="nav-link active" href="{{ 'structurefinder.html' }}">
        StructureFinder
    </a>
    <a class="nav-link active" href="{{ 'dsr.html' }}">
        DSR
    </a>
    <a class="nav-link active" href="{{ 'fragmentdb.html' }}">
        FragmentDB
    </a>
    <a class="nav-link active" href="{{ 'cv.html' }}">
        About Me
    </a>
</nav>
