<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=0.9, shrink-to-fit=no">

    <link rel="stylesheet" href="static/bootstrap-5.1.1/css/bootstrap.min.css">
    <script src="static/bootstrap-5.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ 'static/custom/mycss.css' }}">

    <title>
        {{ title }}
    </title>
</head>


<body>

{% include 'partials/navigation.html' %}

<div class="container">
    <div class="row align-items-start">
        <div class="col-md-2">

        </div>
        <div class="col">
            {% block content %}
            {% endblock %}
            <div class="footer pt-5">
                This page was renderd with <a target="_blank" href="https://staticjinja.readthedocs.io/en/stable/">staticjinja</a>.
            </div>
        </div>
        <div class="col-md-2">

        </div>


    </div>

</div>


</body>

</html>
