<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=0.9, shrink-to-fit=no">

    <link rel="apple-touch-icon" href="{{ 'pictures/apple-touch-icon.png' }}">

    <link rel="stylesheet" href="static/bootstrap-5.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ 'static/custom/mycss.css' }}">
    <link rel="stylesheet" href="{{ 'static/custom/code-styles.css' }}">

    <title>
        {{ title }}
    </title>
</head>


<body>

{% include 'partials/navigation.html' %}

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-1 col-sm-0">

        </div>

        <div class="col-lg-8 col-md-10 col-sm-12">
            {% block content %}
            {% endblock %}
            <div class="footer pt-5 pb-3 mt-5">
                This page was rendered with <a target="_blank" href="https://staticjinja.readthedocs.io">staticjinja</a>
                and <a href="https://getbootstrap.com" target="_blank">Bootstrap</a>.
            </div>
        </div>

        <div class="col-lg-2 col-md-1 col-sm-0">

        </div>


    </div>

</div>


</body>

</html>
