<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free programs for small-molecule crystallography, modelling of disorder with SHELXL and
    creating CIF files">
    <meta name="keywords"
          content="SHELXL Python Kratzert DSR ShelXle StructureFinder FinalCif Structure publish CIF Validation">
    <meta name="author" content="Daniel Kratzert">
    <meta name="viewport" content="width=device-width, initial-scale=0.9, shrink-to-fit=no">
    <link rel="apple-touch-icon" href="{{ 'pictures/apple-touch-icon.png' }}">
    <link rel="stylesheet" href="static/bootstrap-5.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ 'static/custom/mycss.css' }}">
    <link rel="stylesheet" href="{{ 'static/custom/code-styles.css' }}">
    <title>
        {{ title }}
    </title>
</head>


<body>

{% include 'partials/_navigation.html' %}

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-1 col-sm-0">
        </div>

        <div class="col-lg-8 col-md-10 col-sm-12">
            {% block content %}
            {% endblock %}
            <div class="footer pt-5 pb-3 mt-5">
                This page was rendered with <a target="_blank" href="https://staticjinja.readthedocs.io">staticjinja</a>
                and <a href="https://getbootstrap.com" target="_blank">Bootstrap</a>.
            </div>
        </div>

        {#<div class="col-lg-2 col-md-1 col-sm-0">
            <div class="position-fixed footer pt-5 pb-3 mt-5" id="patreon-link">
                Do you like the software?<br>
                <iframe src="https://github.com/sponsors/dkratzert/button" title="Sponsor on GitHub" height="32"
                        width="114" style="border: 0; border-radius: 6px;"></iframe>
            </div>
        </div>#}
    </div>

</div>


</body>

</html>
