<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=0.9, shrink-to-fit=no">

    <link rel="stylesheet" href="https://dkratzert.de/static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <script src="https://dkratzert.de/static/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>

    <title>
        {{ title }}
    </title>
</head>


<body>

{% include 'navigation.html' %}

{% block content %}
{% endblock %}

</body>
</html>
