{% extends '_base.html' %}

{% block content %}

    <h1>About me</h1>
    <p>
        Dr. Daniel Kratzert<br>
        79100 Freiburg, Germany<br>
        dkratzert@gmx.de
    </p>
    Since I have been involved in structure determination using single crystal X-ray diffraction,
    I have started to develop software to help myself and others in their daily work.
    Software development for crystallography went from a hobby to a profession. My main focus for all
    programs is to fill the gaps in software where no big funding or high merits can be earned, but benefits
    are created for the daily work of a staff crystallographer.

    <table class="table table-borderless">
        <thead>
        <tr>
            <th></th>
        </tr>
        </thead>

        <tr>
            <td>July 2021 – <br>Today</td>
            <td><strong>Software Engineer</strong><br>
                Bruker AXS GmbH<br>
                Karlsruhe, Baden-Württemberg, Germany<br>
                Python, Qt5/PyQt, C++
            </td>
        </tr>

        <tr>
            <td>Feb. 2021 – <br>June 2021</td>
            <td><strong>Software Developer</strong><br>
                Meona GmbH<br>
                Freiburg im Breisgau, Baden-Württemberg, Germany<br>
                C#, DevExpress, Java, Hibernate
            </td>
        </tr>


        <tr>
            <td>May 2013 – <br>Jan. 2021</td>
            <td><strong>Lead Scientist</strong><br>
                Albert-Ludwigs-Universität Freiburg<br>
                Freiburg im Breisgau, Baden-Württemberg, Germany<br>
                Scientific software programming, IT administration, internship management, analysis center management,
                organization, technical service, recruitment, ...<br>
            </td>
        </tr>
        <tr>
            <td>Jul. 2008 – <br>Apr. 2013</td>
            <td><strong>PhD in Chemistry</strong><br>
                about "Charge Density Distribution in Low-Valent Tetreles"<br>
                Georg-August-Universität Göttingen.
            </td>
        </tr>
        <tr>
            <td>Oct. 2001 – May 2008</td>
            <td><strong>Study in Chemistry</strong><br>
            Georg-August-Universität Göttingen.
            </td>
        </tr>

    </table>



{% endblock %}

