{% extends '_base.html' %}

{% block content %}

    <h1>FinalCif</h1>
    <p></p>
    <p>Finalcif is a full-featured <a href="https://www.iucr.org/resources/cif/dictionaries" >CIF</a> file editor to make editing
        and validation of
        <a href="https://www.iucr.org/resources/cif/dictionaries" >CIF</a> files easy.
        It collects all the information from a work folder needed in order to finalize a CIF file
        for publication. In any case, you can also import a valid <a href="https://www.iucr.org/resources/cif/dictionaries" >CIF</a>
        file to complete the information. In ideal cases,
        it takes one click to have a publication-ready file.
        <strong>But check the file thoroughly</strong> afterwards, no software is perfect!</p>
    <p>Essentially, you should have the corresponding CIF file for FinalCif in its original 'work' folder, which contains all other
        files such as SAINT list files, SADABS list file,
        <a href="https://shelx.uni-goettingen.de/">SHELX</a> list files, etc. that led to this
        <a href="https://www.iucr.org/resources/cif/dictionaries" >CIF</a> file.</p>
    <p>
    Checking your final CIF file with the <a href="https://checkcif.iucr.org/">IUCr CheckCIF</a> server is a one-click problem in FinalCif.
    You get a web and PDF report or just a local <a href="http://www.platonsoft.nl/platon/pl000601.html">PLATON CIF check</a> for
        computers without internet.
    </p>
    <p>
    FinalCif generates beautiful CIF reports in seconds for your publication as MS Word files (also compatible with Openoffice <em>etc</em>.).
    The report includes tables of structure properties like R-values or atom parameters and a report text about the experiment conditions.
    </p>
    <p>The button "save cif file" saves the current file under '<em>name'-finalcif.cif</em>. FinalCif will never make changes
        to the original <a href="https://www.iucr.org/resources/cif/dictionaries" >CIF</a> file.</p>
    <p></p>
    <p>
        <a href="{{ 'pictures/finalcif/finalcif_main.png' }}" target="_blank">
            <img src="{{ 'pictures/finalcif/finalcif_main.png' }}" alt="" width="90%"/>
        </a>
    </p>
    <br>
    <h3>Downloads</h3>

    {% include 'partials/files_table.html' %}

    <h4>
        <a href="{{ 'files/finalcif/docs' }}" target="_blank" title="">Documentation</a>
    </h4>

    <h4>Source Code</h4>
    <p>Software developers can find the source <a href="https://github.com/dkratzert/FinalCif"
                                                   target="_self" title="">code on Github</a>.</p>
    <h4>Recent Changes:</h4>
    <p>
        <a href="https://raw.githubusercontent.com/dkratzert/FinalCif/master/docs/changelog.txt"
           target="_blank" title="">Changelog.txt </a>
    </p>
    <p></p>
    <p>As always, please report bugs! <a class="email-link" href="mailto:daniel.kratzert@ac.uni-freiburg.de"
                                         target="_self"
                                         title="">dkratzert@gmx.de</a></p>


{% endblock %}