{% extends '_base.html' %}

{% block content %}

    <h1>FinalCif</h1>
    <p></p>
    <p>Finalcif is a full-featured <a href="https://www.iucr.org/resources/cif/dictionaries">CIF</a> file editor to make
        editing
        and validation of
        <a href="https://www.iucr.org/resources/cif/dictionaries">CIF</a> files easy.
        It collects all the information from a work folder needed in order to finalize a CIF file
        for publication. In any case, you can also import a valid <a
                href="https://www.iucr.org/resources/cif/dictionaries">CIF</a>
        file to complete the information. In ideal cases,
        it takes one click to have a publication-ready file.
        <strong>But check the file thoroughly</strong> afterwards, no software is perfect!</p>
    <p>Essentially, you should have the corresponding CIF file for FinalCif in its original 'work' folder, which
        contains all other
        files such as SAINT list files, SADABS list file,
        <a href="https://shelx.uni-goettingen.de/">SHELX</a> list files, etc. that led to this
        <a href="https://www.iucr.org/resources/cif/dictionaries">CIF</a> file.</p>
    <p>
        Validating your CIF files with the <a href="https://checkcif.iucr.org/">IUCr CheckCIF</a> server is a one-click
        problem in FinalCif.
        You get a web and PDF report or just a local <a href="http://www.platonsoft.nl/platon/pl000601.html">PLATON CIF
        check</a> for
        computers without internet. After the CIF validation with CheckCIF, you can easily fill in the respective
        validation response forms
        for publication.
    </p>
    <p>
        FinalCif generates beautiful CIF reports in seconds for your publication as MS Word files (also compatible with
        Openoffice <em>etc</em>.).
        The report includes tables of structure properties like R-values or atom parameters and a report text about the
        experiment conditions.
    </p>
    <p>
        In case you need tables from multiple CIF files at once, there is the small program
        <a href="https://github.com/dkratzert/multitable">multitable</a> which generates such tables.
    </p>
    <p>The button "save cif file" saves the current file under '<em>name'-finalcif.cif</em>. FinalCif will never make
        changes
        to the original <a href="https://www.iucr.org/resources/cif/dictionaries">CIF</a> file.</p>
    <p></p>
    <p>
        <a href="{{ 'pictures/finalcif/finalcif_main.png' }}" target="_blank">
            <img src="{{ 'pictures/finalcif/finalcif_main.png' }}" alt="FinalCif program main window" width="95%"/>
        </a>
    </p>

    <h4>Known bugs</h4>
    <p>{% raw %}
        There was an incompatible change in the format of the symmetry generators in .docx templates for 'ba_symminfo',
        'torsion_symminfo' and 'hydrogen_symminfo'. In order to make older templates to work again, you have to change all
        {{ba_symminfo}} to {{r ba_symminfo}} etc.
    </p>{% endraw %}
    <br>
    <h4>Downloads</h4>

    {% include 'partials/_files_table.html' %}
    {#
    <a href="{{ 'files/finalcif/docs/#any-system' }}" target="_blank">Installation for non-Windows systems</a>
    #}
    <h4>
        <a href="{{ 'files/finalcif/docs' }}" target="_blank" title="">Documentation</a>
    </h4>

    <h4>Running from Source Code</h4>

    If the provided FinalCif executables are not suitable for your system, you can run it from source code.
    Please refer to the <a href="{{ 'files/finalcif/docs' }}" target="_blank" title="">documentation</a> how to do it.

    <h4>Recent Changes:</h4>
    <p>
        <a href="https://dkratzert.de/fcchangelog.html" title="">See last changes in FinalCif</a>
    </p>
    <p></p>
    <p>As always, please report bugs! <a class="email-link" href="mailto:daniel.kratzert@ac.uni-freiburg.de"
                                         target="_self"
                                         title="">dkratzert@gmx.de</a></p>

    <h4>Source Code</h4>
    <p>You can find the source code of <a href="https://github.com/dkratzert/FinalCif">FinalCif at Github</a>.
        Contributions are welcome!</p>

    <h4>License</h4>
    <p>FinalCif is free software and licensed under the
        <a href="https://en.wikipedia.org/wiki/Beerware" target="_self" title="">beerware license</a>.
    </p>
    {##
    <p>
        FinalCif is kindly supported by JetBrains with an <a href="https://jb.gg/OpenSourceSupport" target="_blank"
                                                             title="">open source license</a> for PyCharm.
    </p>
    <p>
        <a href="{{ 'https://jb.gg/OpenSourceSupport' }}" target="_blank">
            <img src="{{ 'pictures/pycharm.svg' }}" alt="PyCharm Logo" width="20%"/>
        </a>
    </p>
    ##}

{% endblock %}