<!-- templates/index.html -->
{% extends "_base.html" %}

{% block content %}

    <p class="my-5">Here you will find the software I have programmed over the years to simplify my life as a crystallographer.</p>
    <ul>
        <li><a href="dsr.html">DSR</a></li>
        A program for modeling of disordered crystal structures
        <li><a href="fragmentdb.html">FragmentDB</a></li>
        A port of DSR to Olex2
        <li><a href="structurefinder.html">StructureFinder</a></li>
        Finds your ancient CIF and SHELXL .res files on hard disk
        <li><a href="finalcif.html">FinalCif</a></li>
        Helps you finalize and publish a CIF
        <li><a href="shelxfile.html">ShelxFile</a></li>
        A SHELX parser and editor library
    </ul>

{% endblock %}