<!-- templates/index.html -->
{% extends "_base.html" %}

{% block content %}

    <p class="my-5">Here you will find the software I have programmed over the years to simplify my life as a crystallographer.</p>
    <ul id="indexlist">
        <li><a href="dsr.html">DSR</a><br>
            A program for modeling of disordered crystal structures
        </li>

        <li><a href="finalcif.html">FinalCif</a><br>
            Helps you finalize and publish a CIF
        </li>

        <li><a href="structurefinder.html">StructureFinder</a><br>
            Finds your ancient <a href="https://www.iucr.org/resources/cif/dictionaries">CIF</a> and <a href="https://shelx.uni-goettingen.de/">SHELXL</a> .res files on hard disk
        </li>

        <li><a href="shelxfile.html">ShelxFile</a><br>
            A <a href="https://shelx.uni-goettingen.de/">SHELX</a> file parser and editor library
        </li>

        <li><a href="fragmentdb.html">FragmentDB</a><br>
            A port of DSR to Olex2
        </li>

    </ul>

{% endblock %}