{% extends '_base.html' %}

{% block content %}

    <h1>StructureFinder</h1>

    <p>
        The purpose of StructureFinder is to find crystallograpgic files such as <a href="https://en.wikipedia.org/wiki/Crystallographic_Information_File">
        Crystallographic Information Files</a> (.cif) and <a href="https://shelx.uni-goettingen.de/">SHELX</a> (.res) files.
        StructureFinder indexes all .cif and/or .res files below a certain directory(s) and makes them searchable.
        The intention is not to bring the files in order or have a static database. It only reflects the order on the file system.
    </p>

    <h4>Downloads</h4>
    {% include 'partials/files_table.html' %}

    <p>There is also a <a href="https://pypi.org/project/structurefinder/">pypi package</a>. See documentation for details.</p>
    <h4>
        <a href="{{ 'files/structurefinder/docs' }}" target="_blank" title="">Documentation</a>
    </h4>

    <h4>Recent Changes</h4>
    <p>
        <a href="https://dkratzert.de/strfchangelog.html">Changelog</a>
    </p>
    <h4>Screenshots</h4>
    <p>
        <a href="{{ 'pictures/structurefinder/strf_1.png' }}" target="_self" title="">
            <img src="{{ 'pictures/structurefinder/strf_1.png' }}" alt="StructureFinder main window" width="80%"/>
        </a>
    </p>

    <h4>Source Code</h4>
    <p>You can find the source code of <a href="https://github.com/dkratzert/StructureFinder">StructureFinder at Github</a>.
       Contributions are welcome!
    </p>

    <h4>License</h4>
    <p>StructureFinder is free software and licensed under the
        <a href="https://en.wikipedia.org/wiki/Beerware" target="_self" title="">beerware license</a>.
    </p>


{% endblock %}