{% extends '_base.html' %}

{% block content %}

    <h1>StructureFinder</h1>
    <p>This is structureFinder</p>
    <p>You find all structures with it</p>

    <table class="table table-md">
        <thead>
        <tr>
            <th colspan="2">Current release</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <a href="{{ strf_windows_link }}">{{ strf_windows_name }}</a>
            </td>
            <td>
                {{ strf_windows_date }}
            </td>
        </tr>
        </tbody>

    </table>

{% endblock %}