<!-- The navigation bar -->

    <nav id="topNav" class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="">Crystallographic tools</a>

        <a class="nav-link active" href="finalcif.html"> FinalCif</a>
        <a class="nav-link active" href="https://dkratzert.de/structurefinder">
            StructureFinder
        </a>
        <a class="nav-link active" href="https://dkratzert.de/DSR">
            DSR
        </a>
        <a class="nav-link active" href="https://dkratzert.de/fragmentdb">
            FragmentDB
        </a>
        <a class="nav-link active" href="https://dkratzert.de/cv">
            CV
        </a>
    </nav>